%tr
  %td
    - if rel.project.id == project.id
      %a{href: project_deploy_key_path(rel.project, rel)}
        %strong= key.title
    - else
      = link_to "Add " + key.title, key_relationships_path(action: :create, rel: {key_id: key, project_id: project.id}, project_id: project), method: :post, class: "btn btn-small"

  %td
    %span.update-author
      Added
      = time_ago_in_words(rel.created_at)
      ago to
      = rel.project.name

  %td
    - if rel.project.id == project.id
      = link_to 'Remove', key_relationship_path(rel, project_id: project), confirm: 'Are you sure?', method: :delete, class: "btn btn-remove delete-key btn-small pull-right"

